*/.idea
*/*.iml
*/build
**/__pycache__

App/*.log
App/.gradle
App/node_modules
App/match/*.stl
App/match/Result.txt
App/match/elasticsearch/data
App/match/elasticsearch/logs
App/mesh/large

Plugin/.mypy_cache
Plugin/*.blend1
Plugin/blend/*.blend1

Network/private
Network/testnet

